$fa-font-path : '~font-awesome/fonts';

$primary-color: #17bab8;
$light-primary-text: whitesmoke;
$dark-primary-text: #002f6c;

$secondary-color: #2c697a;
$light-secondary-text: #5d97a9;
$dark-secondary-text: #003e4e;

$header-color: $light-primary-text;
$header-background: $primary-color;

$sidenav-left-background-color: #2c2c31;
$sidenav-left-text-color: #868686;
$sidenav-right-background-color: #f9f9f9;
$sidenav-right-text-color: #4b4b45;
